# compilation and distribution
__pycache__
_ext
*.pyc
*.so
maskrcnn_benchmark.egg-info/
build/
dist/
apex
cocoapi
# ipython/jupyter notebooks
#*.ipynb
**/.ipynb_checkpoints/
checkpoints
# Editor temporaries
*.swn
*.swo
*.swp
*~

# Pycharm editor settings
.idea

# vscode editor settings
.vscode

# MacOS
.DS_Store

#Dataset
VG_100K
*.h5
