# compilation and distribution
__pycache__
_ext
*.pyc
*.so
maskrcnn_benchmark.egg-info/
build/
dist/
apex
cocoapi
wandb
slurm_out
# ipython/jupyter notebooks
#*.ipynb
**/.ipynb_checkpoints/
checkpoints
# Editor temporaries
*.swn
*.swo
*.swp
*~

# Pycharm editor settings
.idea

# vscode editor settings
.vscode

# MacOS
.DS_Store

#VSCODE
workspace.code-workspace
#Trainin scripts
*.sh
#Dataset
VG_100K
*.h5
*.zip
#images
*.png
output.txt
glove
